---
layout: main
title: Elections
pagination:
  data: elections
  size: 1
  alias: e
permalink: '| #{`/elections/${e}/index.html`}'
---
- const election = elections[e];

mixin results(data)
  ul
    - for (result of data)
      - const usr = members[result.user]
      li
        div.barcount(data-count=result.votes !== undefined ? result.votes : `${result.percent}%`,style=`width:${(result.votes !== undefined ? result.votes : Math.floor(result.percent)) * 10}px;`)
        a(href=`/members/${usr.uname}`)= usr.uname

mixin election_group(election)
  - if (election.opinion)
    h3.nm Opinion Poll
    - if (election.opinion[0] === undefined)
      p.nm= election.opinion.date
      +results(election.opinion.results)
    - else
      - for (poll in election.opinion)
        p.nm &numero;#{parseInt(poll) + 1} (#{election.opinion[poll].date})
        +results(election.opinion[poll].results)

  h3.nm Primary Election
  - if (typeof election.primary === "object")
    p.nm= election.primary.date
    +results(election.primary.results)
  - else
    p= election.primary

  h3.nm General Election
  - if (election.general)
    p.nm= election.general.date
    +results(election.general.results)
    - if (election.general.notes)
      p= election.general.notes
  - else
    p The general election is set to take place on the 4th of May.
  
  - if (election.dropouts)
    h3.nm Dropouts
    ul
      - for (dropout of election.dropouts)
        - const usr = members[dropout.user]
        li
          a(href=`/members/${usr.uname}`)= usr.uname
          | #{dropout.date}
          - if (dropout.reason)
            |  (#{dropout.reason})

p
  - if (pagination.href.previous)
    a(href=pagination.href.previous) < #{pagination.href.previous.substring(11, 15)}
  - if (pagination.href.previous && pagination.href.next)
    |  | 
  - if (pagination.href.next)
    a(href=pagination.href.next) #{pagination.href.next.substring(11, 15)} >

h1= e
ul
  - const cache = [] // Just so that we don't have to re-compute everything when looking up roles
  - for (index of [0, 1, 2, 3, 4, 5]) // Might need to update this so that it can include more than just the annual roles (like what medals the pres. gave out that year)
    - let p = filters.get_role(index, parseInt(e));
    - cache[index] = p;
    - if (!p) continue;
    - let position = positions.roles[index];
    li
      | !{filters.member(p)} #{position.title}
      - if (position.chosen_by !== undefined)
        - let _c; // Don't waste compute on already looked-up roles
        - if (cache[position.chosen_by]) _c = cache[position.chosen_by]
        - else _c = filters.get_role(position.chosen_by, parseInt(e));
        span  (selected by !{filters.member(_c)})
- if (election.presidential)
  h2 Presidential
  +election_group(election.presidential)
- if (election.custodian)
  h2 Custodian
  +election_group(election.custodian)
